<% if current_user.present? %>
	<h3>Home</h3>
	<% @users.each do |user| %>
  	<p>User: <%=link_to user.name, user %></p>
	<% end %>
<% else %>
	<h1>Rails 4 Example </h1>
	<p>Following Functionality Included Using Rails 4.0.0 </p>
	<li> Use Devise with Cancan</li>
	<li> Cucumber Testing For Devise</li>
	<li> Rspec Testing For Devise</li>
<% end %>